[user]
	name = Riley Avron
	email = ravron@dropbox.com

[alias]
	s = status
	d = diff
	b = branch
	c = checkout
	ds = diff --stat --summary
	ss = show --stat
	fm = fetch origin master:master
	p = pull
	l = log
	dc = diff --cached
	ls = log --stat
	bv = branch -vv
	noedit = commit --amend --no-edit
[merge]
[push]
	default = upstream
	# I'd like this, but it started failing on 2016-10-05
	# recurseSubmodules = check
[log]
	decorate = true
	date = iso-local
[diff]
	tool = vimdiff
	algorithm = patience
	renames = copies
	mnemonicPrefix = false
	indentHeuristic = true
	colormoved = true
	# mnemonicPrefix = true
	# Would be nice, but arc diff chokes on it. See https://dropbox.slack.com/archives/code-workflows/p1486599378006219
	# submodule = log
[merge]
	tool = vimdiff
	conflictstyle = diff3

# Note that these colors are usually not what they "say" they are (e.g. "magenta
# bold" is really purple). Instead they're used to get at the ANSI colors that
# are replaced in my terminal with Solarized colors. "Use bold fonts" must be
# off, and "Use bright colors for bold text" must be on.
[color "diff"]
	meta = yellow
	frag = blue
	old = red
	new = green
	func = red bold
	oldMoved = red italic
	newMoved = green italic
	oldMovedAlternative = red italic
	newMovedAlternative = green italic
[color "decorate"]
	branch = blue
	remoteBranch = red
	tag = magenta bold
	stash = white
	HEAD = cyan
[rebase]
	autoStash = true
[core]
	excludesfile = /Users/ravron/.gitignore
[status]
	submoduleSummary = true
[interactive]
	singleKey = true
[branch]
	# Doesn't play super well with Danny's child branch scripts
	# autoSetupMerge = always
[commit]
	verbose = true
[format]
	pretty = fuller
[rerere]
	enabled = true
[pull]
	ff = only
