source ~/.vim/vimrc

" Show line number at cursor
set number
" Show relative numbers other than at cursor
" This doesn't play nicely with annotations :(
" set relativenumber
set clipboard=unnamed

nnoremap Y y$
set ideajoinset
set clipboard+=ideaputset
set ideajoin
set ideaput

" Map % to use the IDE-supported 'go to matching brace' action
map % <Action>(EditorMatchBrace)
